@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "@radix-ui/themes/tokens.css";
@import "@radix-ui/themes/components.css";
@import "@radix-ui/themes/utilities.css";
@import "./styles/variable.css";

@font-face  {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face  {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face  {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face  {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.radix-themes {
  --default-font-family: var(--Roboto-font);
  --heading-font-family: var(--Roboto-font);
}

.radix-themes[data-theme="light"] {
  --default-font-family: 'Roboto', sans-serif;
}